apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- gotk-components.yaml
- gotk-sync.yaml
- hashicorp-helmrepository.yaml
- ../../../../apps/vault/vault-helmrelease.yaml  # This is relative to the location of kustomization.yaml
